body {
    font-family: 'Arial', sans-serif;
  }
  
  .banner {
    position: relative;
    background: url('banner.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Sobreposição escura para melhorar a legibilidade */
    z-index: 1;
  }
  
  .banner .container {
    position: relative;
    z-index: 2;
    text-align: center;
  }
  
  .banner h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .banner p {
    font-size: 1.25rem;
    margin-bottom: 30px;
  }
  
  .banner a.btn {
    background-color: #007bff; /* Cor do botão */
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .banner a.btn:hover {
    background-color: #0056b3; /* Cor do botão ao passar o mouse */
    transform: scale(1.05); /* Efeito de zoom no botão */
  }
  
  .carousel-item img {
    max-height: 800px; /* Altura máxima da imagem */
    width: 80%; /* Garante que a imagem ocupe 100% da largura do item */
  }
  
  @media (max-width: 768px) {
    .carousel-item img {
      max-height: 500px; /* Ajusta a altura da imagem para telas menores */
    }
  
    .banner h1 {
      font-size: 2rem;
    }
  
    .banner p {
      font-size: 1rem;
    }
  
    .banner a.btn {
      padding: 8px 15px;
      font-size: 0.875rem;
    }
  }
  
  footer {
    background-color: #000;
    color: #fff;
  }
  